/* ----FUENTES---- */
/* --SOLO para logo CNCO-- (35px para abajo) */
/* font-family: "Rock Salt", cursive; */
/* --PARA TITULOS NAVBAR-- (35px para abajo) */
/* font-family: "Caveat", cursive; */
/* --PARA TITULOS-- (30px para abajo) */
/* font-family: "Salsa", cursive; */
/* --Para cuerpo textos (la que esta por defaut tambien me gusta)(20px para arriba)---*/
/* font-family: "Junge", cursive; */
.titulos-princ, .fondito .titulohome {
  text-align: center;
  padding: 10px 10px;
  font-family: "Salsa", cursive; }

.txtstyle-parr, .fondito .bloquehome1 .homestyle1, .fondito .bloquehome1 .integrantes, .fondito .homestyle2 .texto-home2 {
  color: #B4ADFF;
  font-family: "Junge", cursive; }

.style-botones a, .generalmusica .botonesmusica .boton1 a, .generalmusica .botonesmusica .boton2 a {
  text-decoration: none;
  font-family: "Rock Salt", cursive;
  font-size: 50px;
  color: #B4ADFF; }

.h2-titstyle, .generalmusica .spoti-style h2, .generalmusica .youtube-style h2 {
  font-family: "Rock Salt", cursive;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  color: #B4ADFF;
  padding: 30px 30px; }

.h4-titstyle, .generalmusica .spoti-style h4, .generalmusica .youtube-style .forever h4 {
  font-family: "Salsa", cursive;
  font-size: 35px;
  color: #140152;
  text-align: center; }

.spotiyt-play, .generalmusica .spoti-style .spoti-flex .primera-cita, .generalmusica .spoti-style .spoti-flex .cnco, .generalmusica .spoti-style .spoti-flex .qqs, .generalmusica .spoti-style .spoti-flex .deja-vu, .generalmusica .spoti-style .spoti-flex .xoxo, .generalmusica .youtube-style .forever .forever-fuego, .generalmusica .youtube-style .forever .forever-esamor, .generalmusica .youtube-style .forever .forever-parasiempre {
  padding: 20px 20px;
  margin: 10px 10px; }

.nombres-solistas, .styleinfo-solista h4, .carreras-solistas .cards-personales .zabdiel h4, .carreras-solistas .cards-personales .chris h4, .carreras-solistas .cards-personales .richard h4, .carreras-solistas .cards-personales .erick h4, .carreras-solistas .cards-personales .joel h4 {
  font-family: "Caveat", cursive;
  font-size: 40px;
  color: #B4ADFF;
  text-align: center; }

.styleinfo-solista .fotos-solistas, .carreras-solistas .cards-personales .zabdiel .fotos-solistas, .carreras-solistas .cards-personales .chris .fotos-solistas, .carreras-solistas .cards-personales .richard .fotos-solistas, .carreras-solistas .cards-personales .erick .fotos-solistas, .carreras-solistas .cards-personales .joel .fotos-solistas {
  overflow: hidden;
  width: 250px; }

.styleinfo-solista a, .carreras-solistas .cards-personales .zabdiel a, .carreras-solistas .cards-personales .chris a, .carreras-solistas .cards-personales .richard a, .carreras-solistas .cards-personales .erick a, .carreras-solistas .cards-personales .joel a {
  text-decoration: none;
  color: #B4ADFF; }

.styleinfo-solista a:hover, .carreras-solistas .cards-personales .zabdiel a:hover, .carreras-solistas .cards-personales .chris a:hover, .carreras-solistas .cards-personales .richard a:hover, .carreras-solistas .cards-personales .erick a:hover, .carreras-solistas .cards-personales .joel a:hover {
  color: #22007C; }

.estilotxt-solistas ul .titulito-redes, .carreras-solistas .cards-personales .zabdiel ul .titulito-redes, .carreras-solistas .cards-personales .chris ul .titulito-redes, .carreras-solistas .cards-personales .richard ul .titulito-redes, .carreras-solistas .cards-personales .erick ul .titulito-redes, .carreras-solistas .cards-personales .joel ul .titulito-redes {
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 20px; }

.estilotxt-solistas ul li, .carreras-solistas .cards-personales .zabdiel ul li, .carreras-solistas .cards-personales .chris ul li, .carreras-solistas .cards-personales .richard ul li, .carreras-solistas .cards-personales .erick ul li, .carreras-solistas .cards-personales .joel ul li {
  text-align: center;
  list-style: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.color-fondo-nav {
  background-color: #04052e !important; }

.navbar-brand {
  color: #b4adff !important;
  font-family: "Rock Salt", cursive;
  font-size: 17px !important; }

.navbar-nav .nav-link.active,
.navbar-nav .navlink.show a {
  color: #b4adff !important;
  font-family: "Salsa", cursive;
  font-size: 16px; }

.navbar-nav {
  --bs-nav-link-color: #b4adff !important;
  --bs-nav-link-hover-color: #22007C !important; }

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end; }

.fuentetitulo-nav {
  font-family: "Salsa", cursive;
  font-size: 16px !important; }

.fondito {
  background-color: #02010A; }
  .fondito .titulohome {
    display: flex;
    justify-content: center;
    background-color: #02010A;
    color: #B4ADFF; }
  .fondito .logo-home {
    text-align: center; }
  .fondito .fotos-home {
    text-align: center; }
  .fondito .bloquehome1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center; }
    .fondito .bloquehome1 .homestyle1 {
      margin: 20px;
      text-align: center; }
    .fondito .bloquehome1 .integrantes {
      font-weight: bold; }
  .fondito .homestyle2 {
    padding: 20px 20px; }

.generalmusica {
  background-color: #02010A; }
  .generalmusica .titulomusica h1 {
    font-family: "Rock Salt", cursive;
    color: #B4ADFF;
    font-size: 50px;
    text-align: center;
    padding: 40px 40px; }
  .generalmusica .botonesmusica {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 50px;
    margin: 100px 100px;
    justify-content: center; }
    .generalmusica .botonesmusica .boton1 {
      background-color: #04052E;
      border-radius: 15px;
      margin: 20px 20px;
      padding: 15px 15px; }
    .generalmusica .botonesmusica .boton1 a:hover {
      color: #22007C; }
    .generalmusica .botonesmusica .boton2 {
      background-color: #04052E;
      border-radius: 15px;
      margin: 20px 20px;
      padding: 15px 15px; }
    .generalmusica .botonesmusica .boton2 a:hover {
      color: #22007C; }
  .generalmusica .spoti-style .spoti-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .generalmusica .youtube-style .txtdisclaimer p {
    text-align: center;
    color: #B4ADFF; }
  .generalmusica .youtube-style .forever {
    display: flex;
    flex-direction: column;
    align-items: center; }

.carreras-solistas {
  background-color: #02010A; }
  .carreras-solistas .titstyle-carreras {
    font-family: "Rock Salt", cursive;
    color: #B4ADFF;
    font-size: 45px;
    text-align: center;
    padding: 40px 40px; }
  .carreras-solistas .cards-personales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "zabdiel zabdiel chris chris" "richard richard erick erick" ". joel joel .";
    justify-items: center; }
    .carreras-solistas .cards-personales .zabdiel {
      grid-area: zabdiel; }
      .carreras-solistas .cards-personales .zabdiel .alineacion-img {
        text-align: center; }
    .carreras-solistas .cards-personales .chris {
      grid-area: chris; }
      .carreras-solistas .cards-personales .chris .alineacion-img {
        text-align: center; }
    .carreras-solistas .cards-personales .richard {
      grid-area: richard; }
      .carreras-solistas .cards-personales .richard .alineacion-img {
        text-align: center; }
    .carreras-solistas .cards-personales .erick {
      grid-area: erick; }
      .carreras-solistas .cards-personales .erick .alineacion-img {
        text-align: center; }
    .carreras-solistas .cards-personales .joel {
      grid-area: joel; }
      .carreras-solistas .cards-personales .joel .alineacion-img {
        text-align: center; }

footer {
  background-color: #04052E;
  padding: 5px; }
