/* ----FUENTES---- */
/* --SOLO para logo CNCO-- (35px para abajo) */
/* font-family: "Rock Salt", cursive; */
/* --PARA TITULOS NAVBAR-- (35px para abajo) */
/* font-family: "Caveat", cursive; */
/* --PARA TITULOS-- (30px para abajo) */
/* font-family: "Salsa", cursive; */
/* --Para cuerpo textos (la que esta por defaut tambien me gusta)(20px para arriba)---*/
/* font-family: "Junge", cursive; */
.titulos-princ, .fondito .titulohome {
  text-align: center;
  padding: 10px 10px;
  font-family: "Salsa", cursive; }

.cuadrostxt, .fondito .bloquehome1 .homestyle1, .fondito .bloquehome1 .integrantes, .fondito .homestyle2 {
  background-color: #04052E;
  border-style: groove;
  color: #B4ADFF;
  padding: 10px; }

.style-botones a, .generalmusica .botonesmusica .boton1 a, .generalmusica .botonesmusica .boton2 a {
  text-decoration: none;
  font-family: "Rock Salt", cursive;
  font-size: 50px;
  color: #B4ADFF; }

.h2-titstyle, .generalmusica .spoti-style h2, .generalmusica .youtube-style h2 {
  font-family: "Rock Salt", cursive;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  color: #B4ADFF;
  padding: 30px 30px; }

.spoti-play, .generalmusica .spoti-style .spoti-flex .primera-cita, .generalmusica .spoti-style .spoti-flex .cnco, .generalmusica .spoti-style .spoti-flex .qqs, .generalmusica .spoti-style .spoti-flex .deja-vu, .generalmusica .spoti-style .spoti-flex .xoxo {
  padding: 20px 20px;
  margin: 10px 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.color-fondo-nav {
  background-color: #04052e !important; }

.navbar-brand {
  color: #b4adff !important;
  font-family: "Rock Salt", cursive;
  font-size: 17px !important; }

.navbar-nav .nav-link.active,
.navbar-nav .navlink.show a {
  color: #b4adff !important;
  font-family: "Salsa", cursive;
  font-size: 16px; }

.navbar-nav {
  --bs-nav-link-color: #b4adff !important;
  --bs-nav-link-hover-color: #22007C !important; }

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end; }

.fuentetitulo-nav {
  font-family: "Salsa", cursive;
  font-size: 16px !important; }

.fondito {
  background-image: url(../../resources/CNCO-index1.JPG);
  background-size: 100%; }
  .fondito .titulohome {
    display: flex;
    justify-content: center;
    background-color: #140152;
    color: #B4ADFF;
    border-style: groove; }
  .fondito .bloquehome1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "homestyle1 integrantes" "homestyle1 integrantes" "homestyle1 integrantes" "homestyle1 integrantes"; }
    .fondito .bloquehome1 .homestyle1 {
      width: 230px;
      grid-area: homestyle1; }
    .fondito .bloquehome1 .integrantes {
      width: 400px;
      grid-area: integrantes; }

.generalmusica {
  background-color: #02010A; }
  .generalmusica .titulomusica h1 {
    font-family: "Rock Salt", cursive;
    color: #B4ADFF;
    font-size: 50px;
    text-align: center;
    padding: 40px 40px; }
  .generalmusica .botonesmusica {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 50px;
    margin: 100px 100px;
    justify-content: center; }
    .generalmusica .botonesmusica .boton1 {
      background-color: #04052E;
      border-radius: 15px;
      margin: 20px 20px;
      padding: 15px 15px; }
    .generalmusica .botonesmusica .boton1 a:hover {
      color: #22007C; }
    .generalmusica .botonesmusica .boton2 {
      background-color: #04052E;
      border-radius: 15px;
      margin: 20px 20px;
      padding: 15px 15px; }
    .generalmusica .botonesmusica .boton2 a:hover {
      color: #22007C; }
  .generalmusica .spoti-style .spoti-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .generalmusica .spoti-style h4 {
    font-family: "Salsa", cursive;
    font-size: 35px;
    color: #140152;
    text-align: center; }
  .generalmusica .youtube-style h4 {
    font-family: "Salsa", cursive;
    font-size: 35px;
    color: #140152;
    text-align: center; }
