/* ----FUENTES---- */
/* --SOLO para logo CNCO-- (35px para abajo) */
/* font-family: "Rock Salt", cursive; */
/* --PARA TITULOS NAVBAR-- (35px para abajo) */
/* font-family: "Caveat", cursive; */
/* --PARA TITULOS-- (30px para abajo) */
/* font-family: "Salsa", cursive; */
/* --Para cuerpo textos (la que esta por defaut tambien me gusta)(20px para arriba)---*/
/* font-family: "Junge", cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.color-fondo-nav {
  background-color: #04052e !important; }

.navbar-brand {
  color: #b4adff !important;
  font-family: "Rock Salt", cursive;
  font-size: 17px !important; }

.navbar-nav .nav-link.active,
.navbar-nav .navlink.show a {
  color: #b4adff !important;
  font-family: "Salsa", cursive;
  font-size: 14px; }

.navbar-nav {
  --bs-nav-link-color: #b4adff !important;
  --bs-nav-link-hover-color: #22007C !important;
  --bs-nav-link-disabled-color:
; }

.navbar-expand-md .navbar-collapse {
  justify-content: flex-end; }

.fuentetitulo-nav {
  font-family: "Salsa", cursive;
  font-size: 14px !important; }

.homestyle1 {
  display: flex;
  align-items: center; }
