.carreras-solistas {
    background-color: $negrito;

    .titstyle-carreras {
        font-family: "Rock Salt", cursive;
        color: $celeste-claro;
        font-size: 45px;
        text-align: center;
        padding: 40px 40px;
    }

    .cards-personales {
        
        .zabdiel {
            @extend .styleinfo-solista;
        }

        .chris {
            @extend .styleinfo-solista;
        }

        .richard {
            @extend .styleinfo-solista;
        }

        .erick {
            @extend .styleinfo-solista;
        }

        .joel {
            @extend .styleinfo-solista;
        }
    }
}