.carreras-solistas {
    background-color: $negrito;

    .titstyle-carreras {
        font-family: "Rock Salt", cursive;
        color: $celeste-claro;
        font-size: 45px;
        text-align: center;
        padding: 40px 40px;
    }

    .cards-personales {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "zabdiel zabdiel chris chris"
            "richard richard erick erick"
            ". joel joel .";
        justify-items: center;


        .zabdiel {
            @extend .styleinfo-solista;
            @extend .estilotxt-solistas;
            grid-area: zabdiel;
            transform: translate(150px);
            text-align: center;

            img {
                @extend .hover-img
            }

        }

        .chris {
            @extend .styleinfo-solista;
            @extend .estilotxt-solistas;
            grid-area: chris;
            transform: translate(-150px);
            text-align: center;

            img {
                @extend .hover-img
            }
        }

        .richard {
            @extend .styleinfo-solista;
            @extend .estilotxt-solistas;
            grid-area: richard;
            transform: translate(150px);
            text-align: center;

            img {
                @extend .hover-img
            }
        }

        .erick {
            @extend .styleinfo-solista;
            @extend .estilotxt-solistas;
            grid-area: erick;
            transform: translate(-150px);
            text-align: center;

            img {
                @extend .hover-img
            }
        }

        .joel {
            @extend .styleinfo-solista;
            @extend .estilotxt-solistas;
            grid-area: joel;
            text-align: center;

            img {
                @extend .hover-img
            }
        }
    }
}
