.fondito {
    background-color: $negrito;

    .titulohome {
        @extend .titulos-princ;
        display: flex;
        justify-content: center;
        background-color: $negrito;
        color: $celeste-claro;
    }

    .logo-home {
        text-align: center;
    }
    
    .fotos-home {
        text-align: center;
    }

    
    .bloquehome1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "homestyle1 integrantes"
            "homestyle1 integrantes"
            "homestyle1 integrantes"
            "homestyle1 integrantes";



        .homestyle1 {
            @extend .cuadrostxt;
            width: 230px;
            grid-area: homestyle1;
        }

        .integrantes {
            @extend .cuadrostxt;
            width: 400px;
            grid-area: integrantes;
        }

    }

    .homestyle2 {
        @extend .cuadrostxt;

    }


}