.fondito {
    background-color: $negrito;

    .titulohome {
        @extend .titulos-princ;
        display: flex;
        justify-content: center;
        background-color: $negrito;
        color: $celeste-claro;
    }

    .logo-home {
        text-align: center;
    }

    .fotos-home {
        text-align: center;
    }


    .bloquehome1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "homestyle1 homestyle1 integrantes integrantes"
            "homestyle1 homestyle1 integrantes integrantes"
            "homestyle1 homestyle1 integrantes integrantes";
        align-items: center;
        justify-items: center;
        padding: 20px;


        .homestyle1 {
            @extend .cuadrostxt;
            width: 270px;
            grid-area: homestyle1;
        }

        .integrantes {
            @extend .cuadrostxt;
            width: 400px;
            grid-area: integrantes;
        }

    }

    .homestyle2 {
        @extend .cuadrostxt;
        padding: 10px 10px;
        margin: 20px 20px;

    }


}