.generalmusica {
    background-color: $negrito;


    .titulomusica h1 {
        font-family: "Rock Salt", cursive;
        color: $celeste-claro;
        font-size: 50px;
        text-align: center;
        padding: 40px 40px;
    }

    .botonesmusica {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 50px;
        margin: 65px;
        justify-content: center;

        .boton1 {
            @extend .boton-hover-transicion;
        }

        .boton2 {
            @extend .boton-hover-transicion;
        }
    }

    .spoti-style {
        .spoti-flex {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .primera-cita {
                @extend .spotiyt-play;
            }

            .cnco {
                @extend .spotiyt-play;
            }

            .qqs {
                @extend .spotiyt-play;
            }

            .deja-vu {
                @extend .spotiyt-play;
            }

            .xoxo {
                @extend .spotiyt-play;
            }

        }

        h2 {
            @extend .h2-titstyle;
        }

        h4 {
            @extend .h4-titstyle;
        }
    }

    .youtube-style {

        h2 {
            @extend .h2-titstyle;
        }

        .txtdisclaimer {

            p {
                text-align: center;
                color: $celeste-claro;
            }
        }

        .forever {
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                @extend .h4-titstyle;
            }

            .forever-fuego {
                @extend .spotiyt-play;
            }

            .forever-esamor {
                @extend .spotiyt-play;
            }

            .forever-parasiempre {
                @extend .spotiyt-play;
            }
        }

    }

}

@media (max-width: 619px) {
    .style-botones {
        a {
            font-size: 40px;
        }

    }

    iframe {
        width: 300px;
        height: 200px;
    }
}

