.generalmusica {
    background-color: $negrito;


    .titulomusica h1 {
        font-family: "Rock Salt", cursive;
        color: $celeste-claro;
        font-size: 50px;
        text-align: center;
        padding: 40px 40px;
    }

    .botonesmusica {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 50px 50px;
        margin: 100px 100px;
        justify-content: center;

        .boton1 {
            background-color: $azul-noche;
            border-radius: 15px;
            margin: 20px 20px;
            padding: 15px 15px;
            @extend .style-botones
        }

        .boton1 a:hover {
            color: $azul-francia
        }

        .boton2 {
            background-color: $azul-noche;
            border-radius: 15px;
            margin: 20px 20px;
            padding: 15px 15px;
            @extend .style-botones
        }

        .boton2 a:hover {
            color: $azul-francia
        }

    }

    .spoti-style {
        .spoti-flex {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .primera-cita {
                @extend .spoti-play
            }

            .cnco {
                @extend .spoti-play
            }

            .qqs {
                @extend .spoti-play
            }

            .deja-vu {
                @extend .spoti-play
            }

            .xoxo {
                @extend .spoti-play
            }

        }

        h2 {
            @extend .h2-titstyle
        }

        h4 {
            font-family: "Salsa", cursive;
            font-size: 35px;
            color: $azul-oscuro;
            text-align: center;
        }
    }

    .youtube-style {
        h2 {
            @extend .h2-titstyle
        }

        h4 {
            font-family: "Salsa", cursive;
            font-size: 35px;
            color: $azul-oscuro;
            text-align: center;
        }
    }

}