.titulos-princ {
    text-align: center;
    padding: 10px 10px;
    font-family: "Salsa", cursive;
}

.cuadrostxt {
    background-color: $azul-noche;
        border-style:groove;
        color: $celeste-claro;
        padding: 10px; 
}