.titulos-princ {
    text-align: center;
    padding: 10px 10px;
    font-family: "Salsa", cursive;
}

.cuadrostxt {
    background-color: $azul-noche;
    border-style: groove;
    color: $celeste-claro;
    padding: 10px;
}

.style-botones {
    a {
        text-decoration: none;
        font-family: "Rock Salt", cursive;
        font-size: 50px;
        color: $celeste-claro
    }

}

.h2-titstyle {
    font-family: "Rock Salt", cursive;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: $celeste-claro;
    padding: 30px 30px;
}

.h4-titstyle {
    font-family: "Salsa", cursive;
    font-size: 35px;
    color: $azul-oscuro;
    text-align: center;
}

.spotiyt-play {
    padding: 20px 20px;
    margin: 10px 10px;
}